# Group37 Project Proposal

## Introduction

In [ ]:
library(tidyverse)
library(GGally)

── Attaching packages ─────────────────────────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.6     ✔ dplyr   1.0.7
✔ tidyr   1.1.4     ✔ stringr 1.4.0
✔ readr   2.1.1     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Registered S3 method overwritten by 'GGally':
  method from
  +.gg   ggplot2

In [ ]:
# Beijing <- read_csv("Data/BeijingPM20100101_20151231.csv")
# Chengdu <- read_csv("Data/ChengduPM20100101_20151231.csv")
# Guangzhou <- read_csv("Data/GuangzhouPM20100101_20151231.csv")
# Shanghai <- read_csv("Data/ShanghaiPM20100101_20151231.csv")
# Shenyang <- read_csv("Data/ShenyangPM20100101_20151231.csv")

Beijing <- read_csv("https://raw.githubusercontent.com/sasiburi/STAT201-Group37/main/Data/BeijingPM20100101_20151231.csv")
Chengdu <- read_csv("https://raw.githubusercontent.com/sasiburi/STAT201-Group37/main/Data/ChengduPM20100101_20151231.csv")
Guangzhou <- read_csv("https://raw.githubusercontent.com/sasiburi/STAT201-Group37/main/Data/GuangzhouPM20100101_20151231.csv")
Shanghai <- read_csv("https://raw.githubusercontent.com/sasiburi/STAT201-Group37/main/Data/ShanghaiPM20100101_20151231.csv")
Shenyang <- read_csv("https://raw.githubusercontent.com/sasiburi/STAT201-Group37/main/Data/ShenyangPM20100101_20151231.csv")
head(Beijing)
head(Chengdu)
head(Guangzhou)
head(Shanghai)
head(Shenyang)

Rows: 52584 Columns: 18

── Column specification ────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (1): cbwd
dbl (17): No, year, month, day, hour, season, PM_Dongsi, PM_Dongsihuan, PM_N...


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 52584 Columns: 17

── Column specification ────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (1): cbwd
dbl (16): No, year, month, day, hour, season, PM_Caotangsi, PM_Shahepu, PM_U...


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 52584 Columns: 17

── Column specification ────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (1): cbwd
dbl (16): No, year, month, day, hour, season, PM_City Station, PM_5th Middle...


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 52584 Columns: 17

── Column specification ────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (1): cbwd
dbl (16): No, year, month, day, hour, season, PM_Jingan, PM_US Post, PM_Xuhu...


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 52584 Columns: 17

── Column specification ────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr  (1): cbwd
dbl (16): No, year, month, day, hour, season, PM_Taiyuanjie, PM_US Post, PM_...


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  No year month day hour season PM_Dongsi PM_Dongsihuan PM_Nongzhanguan
1 1  2010 1     1   0    4      NA        NA            NA
2 2  2010 1     1   1    4      NA        NA            NA
3 3  2010 1     1   2    4      NA        NA            NA
4 4  2010 1     1   3    4      NA        NA            NA
5 5  2010 1     1   4    4      NA        NA            NA
6 6  2010 1     1   5    4      NA        NA            NA
  PM_US Post DEWP HUMI PRES TEMP cbwd Iws   precipitation Iprec
1 NA         -21  43   1021 -11  NW    1.79 0             0
2 NA         -21  47   1020 -12  NW    4.92 0             0
3 NA         -21  43   1019 -11  NW    6.71 0             0
4 NA         -21  55   1019 -14  NW    9.84 0             0
5 NA         -20  51   1018 -12  NW   12.97 0             0
6 NA         -19  47   1017 -10  NW   16.10 0             0

  No year month day hour season PM_Caotangsi PM_Shahepu PM_US Post DEWP HUMI
1 1  2010 1     1   0    4      NA           NA         NA         4    81.20
2 2  2010 1     1   1    4      NA           NA         NA         4    86.99
3 3  2010 1     1   2    4      NA           NA         NA         4    86.99
4 4  2010 1     1   3    4      NA           NA         NA         3    86.89
5 5  2010 1     1   4    4      NA           NA         NA         2    86.79
6 6  2010 1     1   5    4      NA           NA         NA         2    93.13
  PRES TEMP cbwd Iws precipitation Iprec
1 1022 7    cv   1   0             0
2 1022 6    cv   1   0             0
3 1021 6    cv   1   0             0
4 1021 5    cv   1   0             0
5 1021 4    cv   1   0             0
6 1020 3    cv   1   0             0

  No year month day hour season PM_City Station PM_5th Middle School PM_US Post
1 1  2010 1     1   0    4      NA              NA                   NA
2 2  2010 1     1   1    4      NA              NA                   NA
3 3  2010 1     1   2    4      NA              NA                   NA
4 4  2010 1     1   3    4      NA              NA                   NA
5 5  2010 1     1   4    4      NA              NA                   NA
6 6  2010 1     1   5    4      NA              NA                   NA
  DEWP HUMI PRES   TEMP cbwd Iws precipitation Iprec
1  9.4 76   1015.1 13.5 NW   0.8 0.0           0.0
2 10.2 83   1015.2 13.0 cv   0.5 0.0           0.0
3 10.4 87   1015.0 12.5 NW   0.6 0.3           0.3
4 10.2 89   1014.9 12.0 NW   1.4 0.6           0.9
5 10.4 91   1014.6 11.8 NE   0.6 0.7           1.6
6 10.3 91   1014.4 11.7 NW   1.4 0.3           1.9

  No year month day hour season PM_Jingan PM_US Post PM_Xuhui DEWP HUMI  PRES
1 1  2010 1     1   0    4      NA        NA         NA       -6   59.48 1026.1
2 2  2010 1     1   1    4      NA        NA         NA       -6   59.48 1025.1
3 3  2010 1     1   2    4      NA        NA         NA       -7   59.21 1025.1
4 4  2010 1     1   3    4      NA        NA         NA       -6   63.94 1024.0
5 5  2010 1     1   4    4      NA        NA         NA       -6   63.94 1023.0
6 6  2010 1     1   5    4      NA        NA         NA       -7   59.21 1023.0
  TEMP cbwd Iws precipitation Iprec
1 1    cv    1  0             0
2 1    SE    2  0             0
3 0    SE    4  0             0
4 0    SE    5  0             0
5 0    SE    8  0             0
6 0    SE   11  0             0

  No year month day hour season PM_Taiyuanjie PM_US Post PM_Xiaoheyan DEWP
1 1  2010 1     1   0    4      NA            NA         NA           -26
2 2  2010 1     1   1    4      NA            NA         NA           -26
3 3  2010 1     1   2    4      NA            NA         NA           -27
4 4  2010 1     1   3    4      NA            NA         NA           -27
5 5  2010 1     1   4    4      NA            NA         NA           -27
6 6  2010 1     1   5    4      NA            NA         NA           -26
  HUMI  PRES TEMP cbwd Iws     precipitation Iprec
1 69.79 1024 -22  NE    1.0289 NA            NA
2 76.26 1024 -23  NE    2.5722 NA            NA
3 69.56 1023 -23  NE    5.1444 NA            NA
4 69.56 1023 -23  NE    7.7166 NA            NA
5 69.56 1022 -23  NE    9.7744 NA            NA
6 76.26 1022 -23  NE   11.8322 NA            NA

Firstly, we changed the column names of 5 sets of data to remove space characters. Then we filtered out the NA value in PM 2.5 concentration(US posted) and since we aim to investigate the entire cities' PM 2.5 concentration but not only a district. Therefore we selected the column of US posted PM 2.5 concentration in 5 cities to be our predictor.

In [ ]:
colnames(Beijing)[10] <- "PM_US_data"
Beijing_data <- Beijing %>%
                filter(year == 2015 & PM_US_data != "NA") %>%
                select(-PM_Dongsi, -PM_Dongsihuan, -PM_Nongzhanguan)
head(Beijing_data)

colnames(Chengdu)[9] <- "PM_US_data"
Chengdu_data <- Chengdu %>%
                filter(year == 2015 & PM_US_data != "NA") %>%
                select(-PM_Caotangsi, -PM_Shahepu)
head(Chengdu_data)

colnames(Guangzhou)[7] <- "PM_CityStation"
colnames(Guangzhou)[8] <- "PM_5thMiddleSchool"
colnames(Guangzhou)[9] <- "PM_US_data"
Guangzhou_data <- Guangzhou %>%
                  filter(year == 2015 & PM_US_data != "NA") %>%
                  select(-PM_CityStation, -PM_5thMiddleSchool)
head(Guangzhou_data)

colnames(Shanghai)[8] <- "PM_US_data"
Shanghai_data <- Shanghai %>%
                 filter(year == 2015 & PM_US_data != "NA") %>%
                 select(-PM_Jingan, -PM_Xuhui)
head(Shanghai_data)

colnames(Shenyang)[8] <- "PM_US_data"
Shenyang_data <- Shenyang %>%
                 filter(year == 2015 & PM_US_data != "NA") %>%
                 select(-PM_Taiyuanjie, -PM_Xiaoheyan)
head(Shenyang_data)

  No    year month day hour season PM_US_data DEWP HUMI PRES TEMP cbwd Iws
1 43825 2015 1     1   0    4      22         -21  29   1034 -6   SE    0.89
2 43826 2015 1     1   1    4       9         -22  23   1034 -4   NW    4.92
3 43827 2015 1     1   2    4       9         -21  27   1034 -5   NW    8.94
4 43828 2015 1     1   3    4      13         -21  29   1035 -6   NW   12.96
5 43829 2015 1     1   4    4      10         -21  27   1034 -5   NW   16.98
6 43830 2015 1     1   5    4       6         -22  23   1034 -4   NW   24.13
  precipitation Iprec
1 0             0
2 0             0
3 0             0
4 0             0
5 0             0
6 0             0

  No    year month day hour season PM_US_data DEWP HUMI  PRES TEMP cbwd Iws
1 43825 2015 1     1   0    4      152        2    80.92 1031 5    NW   14
2 43826 2015 1     1   1    4      130        2    80.92 1030 5    cv    1
3 43827 2015 1     1   2    4      125        1    75.32 1030 5    NW    2
4 43828 2015 1     1   3    4      131        1    75.32 1030 5    cv    1
5 43829 2015 1     1   4    4      133        1    75.32 1030 5    cv    2
6 43830 2015 1     1   5    4      133        1    75.32 1029 5    cv    2
  precipitation Iprec
1 0             0
2 0             0
3 0             0
4 0             0
5 0             0
6 0             0

  No    year month day hour season PM_US_data DEWP HUMI PRES   TEMP cbwd Iws
1 43825 2015 1     1   0    4      38         2.3  52   1015.1 11.9 NW   19.5
2 43826 2015 1     1   1    4      40         2.5  53   1015.0 11.8 NW   21.3
3 43827 2015 1     1   2    4      40         2.2  53   1015.0 11.5 NW   23.8
4 43828 2015 1     1   3    4      34         2.0  50   1015.4 12.1 NW   26.2
5 43829 2015 1     1   4    4      42         1.8  47   1015.5 12.9 NE    2.1
6 43830 2015 1     1   5    4      44         2.8  58   1015.7 10.8 NW    3.1
  precipitation Iprec
1 0             0
2 0             0
3 0             0
4 0             0
5 0             0
6 0             0

  No    year month day hour season PM_US_data DEWP HUMI  PRES TEMP cbwd Iws
1 43825 2015 1     1   0    4      32         -12  34.56 1033 2    NW   11
2 43826 2015 1     1   1    4      40         -11  40.24 1033 1    NW   15
3 43827 2015 1     1   2    4      37         -11  40.24 1033 1    NW   20
4 43828 2015 1     1   3    4      44         -11  40.24 1033 1    NW   24
5 43829 2015 1     1   4    4      38         -11  43.26 1033 0    NW   29
6 43830 2015 1     1   5    4      38         -10  46.84 1033 0    NW   33
  precipitation Iprec
1 0             0
2 0             0
3 0             0
4 0             0
5 0             0
6 0             0

  No    year month day hour season PM_US_data DEWP HUMI  PRES TEMP cbwd Iws
1 43825 2015 1     1   0    4      37         -22  46.66 1027 -13  NW   72
2 43826 2015 1     1   1    4      26         -22  46.66 1028 -13  NW   75
3 43827 2015 1     1   2    4      30         -22  50.63 1028 -14  NW   78
4 43828 2015 1     1   3    4      26         -22  54.98 1028 -15  NW   81
5 43829 2015 1     1   4    4      33         -22  54.98 1028 -15  NW   84
6 43830 2015 1     1   5    4      33         -23  54.68 1029 -16  SW    2
  precipitation Iprec
1 0             0
2 0             0
3 0             0
4 0             0
5 0             0
6 0             0