# Group37 Project Proposal

## Introduction

In [1]:
library(tidyverse)
library(GGally)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.6     ✔ dplyr   1.0.7
✔ tidyr   1.1.4     ✔ stringr 1.4.0
✔ readr   2.1.1     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Registered S3 method overwritten by 'GGally':
  method from
  +.gg   ggplot2

In [17]:
Beijing <- read_csv("Data/BeijingPM20100101_20151231.csv")
Chengdu <- read_csv("Data/ChengduPM20100101_20151231.csv")
Guangzhou <- read_csv("Data/GuangzhouPM20100101_20151231.csv")
Shanghai <- read_csv("Data/ShanghaiPM20100101_20151231.csv")
Shenyang <- read_csv("Data/ShenyangPM20100101_20151231.csv")
head(Beijing)
head(Chengdu)
head(Guangzhou)
head(Shanghai)
head(Shenyang)

Rows: 52584 Columns: 18

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (1): cbwd
dbl (17): No, year, month, day, hour, season, PM_Dongsi, PM_Dongsihuan, PM_N...


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 52584 Columns: 17

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (1): cbwd
dbl (16): No, year, month, day, hour, season, PM_Caotangsi, PM_Shahepu, PM_U...


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 52584 Columns: 17

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (1): cbwd
dbl (16): No, year, month, day, hour, season, PM_City Station, PM_5th Middle...


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 52584 Columns: 17

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (1): cbwd
dbl (16): No, year, month, day, hour, season, PM_Jingan, PM_US Post, PM_Xuhu...


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 52584 Columns: 17

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (1): cbwd
dbl (16): No, year, month, day, hour, season, PM_Taiyuanjie, PM_US Post, PM_...


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  No year month day hour season PM_Dongsi PM_Dongsihuan PM_Nongzhanguan
1 1  2010 1     1   0    4      NA        NA            NA
2 2  2010 1     1   1    4      NA        NA            NA
3 3  2010 1     1   2    4      NA        NA            NA
4 4  2010 1     1   3    4      NA        NA            NA
5 5  2010 1     1   4    4      NA        NA            NA
6 6  2010 1     1   5    4      NA        NA            NA
  PM_US Post DEWP HUMI PRES TEMP cbwd Iws   precipitation Iprec
1 NA         -21  43   1021 -11  NW    1.79 0             0
2 NA         -21  47   1020 -12  NW    4.92 0             0
3 NA         -21  43   1019 -11  NW    6.71 0             0
4 NA         -21  55   1019 -14  NW    9.84 0             0
5 NA         -20  51   1018 -12  NW   12.97 0             0
6 NA         -19  47   1017 -10  NW   16.10 0             0

  No year month day hour season PM_Caotangsi PM_Shahepu PM_US Post DEWP HUMI
1 1  2010 1     1   0    4      NA           NA         NA         4    81.20
2 2  2010 1     1   1    4      NA           NA         NA         4    86.99
3 3  2010 1     1   2    4      NA           NA         NA         4    86.99
4 4  2010 1     1   3    4      NA           NA         NA         3    86.89
5 5  2010 1     1   4    4      NA           NA         NA         2    86.79
6 6  2010 1     1   5    4      NA           NA         NA         2    93.13
  PRES TEMP cbwd Iws precipitation Iprec
1 1022 7    cv   1   0             0
2 1022 6    cv   1   0             0
3 1021 6    cv   1   0             0
4 1021 5    cv   1   0             0
5 1021 4    cv   1   0             0
6 1020 3    cv   1   0             0

  No year month day hour season PM_City Station PM_5th Middle School PM_US Post
1 1  2010 1     1   0    4      NA              NA                   NA
2 2  2010 1     1   1    4      NA              NA                   NA
3 3  2010 1     1   2    4      NA              NA                   NA
4 4  2010 1     1   3    4      NA              NA                   NA
5 5  2010 1     1   4    4      NA              NA                   NA
6 6  2010 1     1   5    4      NA              NA                   NA
  DEWP HUMI PRES   TEMP cbwd Iws precipitation Iprec
1  9.4 76   1015.1 13.5 NW   0.8 0.0           0.0
2 10.2 83   1015.2 13.0 cv   0.5 0.0           0.0
3 10.4 87   1015.0 12.5 NW   0.6 0.3           0.3
4 10.2 89   1014.9 12.0 NW   1.4 0.6           0.9
5 10.4 91   1014.6 11.8 NE   0.6 0.7           1.6
6 10.3 91   1014.4 11.7 NW   1.4 0.3           1.9

  No year month day hour season PM_Jingan PM_US Post PM_Xuhui DEWP HUMI  PRES
1 1  2010 1     1   0    4      NA        NA         NA       -6   59.48 1026.1
2 2  2010 1     1   1    4      NA        NA         NA       -6   59.48 1025.1
3 3  2010 1     1   2    4      NA        NA         NA       -7   59.21 1025.1
4 4  2010 1     1   3    4      NA        NA         NA       -6   63.94 1024.0
5 5  2010 1     1   4    4      NA        NA         NA       -6   63.94 1023.0
6 6  2010 1     1   5    4      NA        NA         NA       -7   59.21 1023.0
  TEMP cbwd Iws precipitation Iprec
1 1    cv    1  0             0
2 1    SE    2  0             0
3 0    SE    4  0             0
4 0    SE    5  0             0
5 0    SE    8  0             0
6 0    SE   11  0             0

  No year month day hour season PM_Taiyuanjie PM_US Post PM_Xiaoheyan DEWP
1 1  2010 1     1   0    4      NA            NA         NA           -26
2 2  2010 1     1   1    4      NA            NA         NA           -26
3 3  2010 1     1   2    4      NA            NA         NA           -27
4 4  2010 1     1   3    4      NA            NA         NA           -27
5 5  2010 1     1   4    4      NA            NA         NA           -27
6 6  2010 1     1   5    4      NA            NA         NA           -26
  HUMI  PRES TEMP cbwd Iws     precipitation Iprec
1 69.79 1024 -22  NE    1.0289 NA            NA
2 76.26 1024 -23  NE    2.5722 NA            NA
3 69.56 1023 -23  NE    5.1444 NA            NA
4 69.56 1023 -23  NE    7.7166 NA            NA
5 69.56 1022 -23  NE    9.7744 NA            NA
6 76.26 1022 -23  NE   11.8322 NA            NA